.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  position: relative;
  width: 100%;
  max-width: 85rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.hero-bracket {
  position: absolute;
  top: -1rem;
  left: 0;
  bottom: -1rem;
  width: 2.5rem;
  pointer-events: none;
}

.bracket-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 100%;
  background: var(--clr-accent);
  transform-origin: center center;
}

.bracket-horizontal {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: var(--clr-accent);
  transform-origin: left center;
}

.bracket-top {
  top: 0;
}

.bracket-bottom {
  bottom: 0;
}

.hero-name {
  font-size: var(--fs-large);
  font-weight: var(--fw-medium);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.hero-title {
  font-size: 10rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.25rem;
  line-height: 1.1;
}

.hero-title .reveal-container {
  position: relative;
  display: inline-block; /* !!! */
}

.hero-title .accent {
  display: inline-block; /* !!! */
  color: var(--clr-accent);
}

@media (max-width: 1040px) {
  .hero {
    padding: 0 4rem;
  }

  .hero-text {
    max-width: 65rem;
    padding-left: 3rem;
  }

  .hero-bracket {
    width: 2rem;
  }

  .hero-name {
    font-size: var(--fs-medium);
    letter-spacing: 0.4rem;
  }

  .hero-title {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .hero-text {
    max-width: 55rem;
  }

  .hero-name {
    font-size: var(--fs-base);
  }

  .hero-title {
    font-size: 5.5rem;
  }
}

@media (max-width: 695px) {
  .hero {
    min-height: calc(100vh - 7rem);
    padding: 0 2rem;
  }

  .hero-text {
    max-width: 100%;
    padding-left: 2rem;
    gap: 1.5rem;
  }

  .hero-bracket {
    width: 1.5rem;
  }

  .bracket-vertical {
    width: 0.2rem;
  }

  .bracket-horizontal {
    height: 0.2rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 0 1.5rem;
  }

  .hero-text {
    padding-left: 1.5rem;
    gap: 1rem;
  }

  .hero-bracket {
    width: 1rem;
  }

  .hero-name {
    font-size: var(--fs-sm);
    letter-spacing: 0.2rem;
  }

  .hero-title {
    font-size: 3.6rem;
    letter-spacing: 0;
  }
}

@media (max-width: 360px) {
  .hero-name {
    font-size: var(--fs-xs);
    letter-spacing: 0.1rem;
  }

  .hero-title {
    font-size: 2.8rem;
  }
}
