.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 16rem;
  width: calc(100% - 16rem);
  overflow-x: hidden;
}

.section-title {
  position: relative;
  margin-bottom: 3rem;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 6rem;
  height: 0.4rem;
  background-color: var(--clr-accent);
}

@media (max-width: 1040px) {
  .main-content {
    margin-left: 14rem;
    width: calc(100% - 14rem);
  }
}

@media (max-width: 695px) {
  .app {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
    margin-top: 7rem;
  }
}
