.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 14rem 1fr 14rem;
}

.main-content {
  grid-column: 2;
  overflow-x: hidden;
}

.settings-panel {
  grid-column: 3;
  padding: 5rem 0;
}

.section-title {
  position: relative;
  margin-bottom: 4rem;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.section-title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1rem;
  width: 6rem;
  height: 0.4rem;
  background: var(--clr-accent-gradient);
  border-radius: 2px;
}

@media (max-width: 1040px) {
  .app {
    grid-template-columns: 12rem 1fr 12rem;
  }
}

@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .settings-panel {
    display: none;
  }
}
